<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quality Check Result</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles2.css') }}"> <!-- External CSS -->
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            let data = JSON.parse(sessionStorage.getItem("analysisData"));
            console.log("Retrieved Data in page2:", data);
            if (data) {
                document.getElementById("item").innerText = data.Item;
                document.getElementById("percentage").innerText = data.Percentage;
                document.getElementById("judgement").innerText = data.Judgement;
                document.getElementById("insights").innerText = data.Insights;
                document.getElementById("shelfLife").innerText = data['Shelf Life'][0];
            }
        });
        function redirectToHome() {
            window.location.href = "/";  // Redirects to the homepage
        }
    </script>
</head>
<body>

    <div class="container">
        <h2 class="title">Results</h2>

        <div class="status failed">
            <div class="cross-icon">&#10006;</div> <!-- Cross Icon -->
            <h3 class="status-text">Uh-Oh! QC Failed</h3>
        </div>

        <div class="insights">
            <h4>Insights</h4>
            <div class="info">
                <p><strong>Item Detected</strong> <span id="item"> Loading... </span></p>
                <p><strong>Bad Quality</strong> <span id="percentage"> Loading... </span></p>
                <p><strong>Shelf Life</strong> <span id="shelfLife"> Loading... </span></p>
            </div>
        </div>

        <div class="info-box">
            <p>• Click an image of the filled crate from the top</p>
        </div>

        <div class="buttons">
<!--            <button class="cancel">Cancel</button>-->
            <button class="proceed" onclick="redirectToHome()">Home</button>
        </div>
    </div>

</body>
</html>
